{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Ana sayfa {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content" >

        <div class="p-5 d-flex row col-6">
        

            <h1>Üretilen Grafik</h1>
            <ul>
                {% for item in media_items %}
                <li>
                    <strong>{{ item.Title }}</strong>
                        <img src="{{ item.img.url }}" alt="{{ item.Title }}" style="max-width: 300px;">
                        <video controls style="max-width: 300px;">
                            <source src="{{ item.video.url }}" type="video/mp4">
                        </video>
                </li>
                {% endfor %}
            </ul>
            

        </div>    

    </div>

{% endblock %}

<!-- <div class="content"></div> -->