{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Ana sayfa {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content " >
        <div class="container-fluid mt-5">
           
        <div class="col-12 m-2">


                <header><h1 class="text-white mb-3">Aydınlatma metni</h1></header>
                <h3>
                    Bu uygulama, yalnızca eğitim amaçlı olarak geliştirilmiş bir fizyoterapi simülasyonudur. Uygulama, bir öğrenci tarafından hazırlanan ve sınırlı bilgiye dayalı bir projedir; profesyonel bir sağlık hizmeti sunmamaktadır. Uygulama üzerinden yapılan her türlü fiziksel tedavi önerisi ve önerilen egzersizler, yalnızca bilgilendirme amacı taşımaktadır.

Uygulama kullanımı sırasında, gerçek bir fiziksel rahatsızlık veya sağlık sorununuz varsa, mutlaka bir doktora veya lisanslı bir fizyoterapiste danışmanız gerekmektedir. Burada verilen bilgiler, profesyonel bir değerlendirme ve tedavi yerine geçmez ve herhangi bir sağlık sorununun tedavisi için profesyonel destek alınması önemlidir.

Bu uygulama, kullanıcıların kendi sağlıklarını riske atmamaları için yalnızca bir eğitim aracı olarak kullanılmalıdır. Kullanıcıların herhangi bir fiziksel problem yaşaması durumunda, derhal uygun sağlık hizmetlerine başvurmaları gerekmektedir.

<h1 class="text-white">Kullanıcı Sorumluluğu:</h1>
Uygulamayı kullanarak, verilen bilgilerin profesyonel bir sağlık tavsiyesi olmadığını ve herhangi bir sağlık sorunuyla ilgili gerçek bir sağlık uzmanından görüş almanız gerektiğini kabul etmektesiniz.


                </h3>


        </div>
          

          


            
            
            


        </div>
    </div>

{% endblock %}

<!-- <div class="content"></div> -->